<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="false" destination="http://localhost:80" />
    </system.webServer>
</configuration>