<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Match Performances</title>
  </head>
  <body>
    <h1>Team Match Performances</h1>
    <ul id="match-list"></ul>
  </body>
  <script src="./js/script.js"></script>
</html>
