:root {
  --bg: #efefef;
  --text: #232323;
  --bg-alt: #fefefe;
  --accent: #30a2ff;
  --accent-alt: #ff6030;
  --orange-light: #ff8d6b;
  --light-gray: #bebebe;
  --gray: #757575;
  --green: #4caf50;
  --gold: #f3c262;
  --bronze: #b07b50;
  --placeholder: #a3a3a3;
  --border-radius: 16px;
  --font: Cairo, sans-serif;
}

html[data-theme="dark"] {
  --bg: #191b1c;
  --text: #efefef;
  --text-alt: #9e9e9e;
  --bg-alt: #232323;
  --accent: #4798b6;
  --reload-color: #efefef;
  --green: #75c077;
  --accent-alt: #fd6e42;
}

html {
  overflow: hidden;
  height: 100%;
  position: fixed;
}

body {
  overflow: auto;
  height: 100%;
  position: relative;
}

* {
  font-family: var(--font, sans-serif);
}
