.grid.container {
  width: 95%;
  background-color: var(--bg-alt);
  border-radius: var(--border-radius);
  border: 2px solid var(--accent-alt);
  box-sizing: border-box;
  padding: 2%;
  margin: auto;
}
.table > div {
  margin: 0.2vw;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  border-radius: calc(var(--border-radius) / 2);
}
.grid.container > .header {
  text-align: center;
  font-size: 1em;
}
.cell {
  text-align: center;
  box-sizing: border-box;
  border-radius: calc(var(--border-radius) / 2);
}
