<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Skeleton with Shoelace</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace/cdn/shoelace-autoloader.js"
      async
      onload="window.loaded ??= 0; window.loaded++; if (window.loaded >= 3) { window.dispatchEvent(new Event('fullyLoaded')) }"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/gridstack/dist/gridstack-all.js"
      async
      onload="window.loaded ??= 0; window.loaded++; if (window.loaded >= 3) { window.dispatchEvent(new Event('fullyLoaded')) }"
    ></script>
    <script
      type="module"
      src="/js/script.js"
      async
    ></script>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace/cdn/themes/dark.css"
      onload="this.rel='stylesheet'"
      as="style"
    />
    <link
      rel="preload"
      href="/css/global.css"
      onload="this.rel='stylesheet'"
      as="style"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/gridstack/dist/gridstack.min.css"
      onload="this.rel='stylesheet'"
      as="style"
    />
    <style>
      :not(:defined) {
        visibility: hidden;
      }
      body {
        font-family: "Open Sans", sans-serif;
        margin: 0;
        padding: 0;
        display: grid;
        height: 100vh;
        background-color: #222;
      }
    </style>
  </head>
  <body>
    <div class="statbar"></div>
    <div class="sidebar">
      <sl-tab-group>
        <sl-tab slot="nav" panel="button">Selected</sl-tab>
        <sl-tab slot="nav" panel="custom">Custom</sl-tab>
        <sl-tab slot="nav" panel="advanced">Advanced</sl-tab>

        <sl-tab-panel name="button">
          This is the general tab panel.
        </sl-tab-panel>
        <sl-tab-panel name="custom">
          This is the custom tab panel.
        </sl-tab-panel>
        <sl-tab-panel name="advanced">
          <sl-button-group>
            <sl-input placeholder="9" size="small" label="Grid Columns" type="number" id="in_grid_row"></sl-input>
            <sl-button size="small" id="btn_grid_col" style="margin-top: 19px;">Set</sl-button>
          </sl-button-group>
          <sl-button-group>
            <sl-input placeholder="6" size="small" label="Grid Rows" type="number"></sl-input>
            <sl-button size="small" id="btn_grid_row" style="margin-top: 19px;">Set</sl-button>
          </sl-button-group>
        </sl-tab-panel>
      </sl-tab-group>
    </div>
    <div class="editor grid-stack"></div>
  </body>
</html>
