#instructions {
    background-color: var(--bg);
}

#instructions {
    display: flex;
    align-items: center;
    justify-content: center;
}
#instructions .instructions {
    background-color: var(--bg-alt);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 30% 30% 20%;
    width: 750px;
    justify-items: center;
    align-items: center;
    height: 90vh;
    gap: 2.5px;
    padding: 20px;
}

#instructions .instructions .title {
    grid-area: 1/1/2/3;
    margin: 0px 0;
    font-size: 2em;
}

#instructions .instructions .ok {
    grid-area: 4/1/5/3;
    font-size: 1.75em;
    width: 90%;
    background-color: var(--accent);
    border-radius: var(--border-radius);
    color: var(--bg-alt);
    border: none;
    margin: 6px 0;
    height: 2em;
}

@media screen and (min-height: 600px) {
    #instructions .instructions {
        width: 750px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    #instructions .instructions .title {
        font-size: 2em
    }
    #instructions .instructions .ok {
        width: calc(100% - 24px);
        margin: 12px 0;
    }
}