/*****************************************************************
                        !!!WARNING!!!
               EVERYTHING HERE IS VERY IMPORTANT
DO NOT REMOVE OR MODIFY ANYTHING UNLESS YOU KNOW WHAT YOU'RE DOING
*****************************************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body > .page {
    width: 100%;
    height: 100vh;
    position: relative;
}