/*****************************************************************
                        !!!WARNING!!!
               EVERYTHING HERE IS VERY IMPORTANT
DO NOT REMOVE OR MODIFY ANYTHING UNLESS YOU KNOW WHAT YOU'RE DOING
*****************************************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body > .page {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 0.2s visibility, 0.2s opacity;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
}

body > .page.visible {
    visibility: unset;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.3s 0s;
}

.qr-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 69;
}

.qr-img {
    width: 100vmin;
    image-rendering: pixelated;
}

.qr-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0)
}