#landing {
    background-color: var(--bg, #EFEFEF);
}

#landing .landing-screen {
    width: 100%;
    height: 100%;
}

#landing .waiting-screen {
    display: none;
}

#landing .sign-in-text {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#landing .logo {
    height: 100vmin;
    position: absolute;
    opacity: 0.05;
    z-index: 1;
}

#landing .auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing .auth-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius, 16px);
    z-index: 2;
    margin: 10px;
}

#landing .auth-buttons > div {
    border: 3px solid var(--dark, #bebebe);
    border-radius: var(--border-radius, 16px);
}



#landing .auth-buttons > div,  #landing .auth-buttons > div * {
    transition: 250ms all;
}


#landing .auth-buttons > div > i {
    color: var(--bg-alt, #FEFEFE);
    background-color: #30a2ff;
    font-size: 1.5em;
    padding: 10px;
    border-radius: var(--border-radius);
}

#landing .auth-buttons > div > span {
    color: var(--text, #bebebe);
    font-size: 1.75em;
}

#landing .auth-buttons > div:hover > i {
    color: var(--accent, #30a2ff);
    font-size: 4em;
}

#landing .auth-buttons > div:hover > span {
    color: var(--text, #232323);
}

#landing .auth-buttons > div:hover {
    border-color: var(--accent, #30a2ff);
}