#match-scouting {
    background-color: var(--bg, #EFEFEF);
}

#match-scouting .grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#match-scouting .button-grid {
    margin-top: 5vh;
    width: 99%;
    height: 94%;
    display: grid;
    grid-gap: .75vw;
    border-radius: var(--border-radius, 16px);
    padding: .5vmin
}

#match-scouting .grid-button {
    border-radius: var(--border-radius, 16px);
    color: var(--light-alt, #FEFEFE);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.2vw;
    line-height: 3.5vw;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    box-shadow: 0 0 5px black;
}
#match-scouting .grid-button:active {
    box-shadow: 0 0 7px black;
    font-size: 3.3vw;
}

#match-scouting .grid-button.gray {
    background-color: #2D2D2D
}

.green {
    background-color: #4caf50
}

.orange {
    background-color: #ef6c00   
}

.red {
    background-color: #ff4436
}

.navy {
    background-color: #3f51b5
}

.pink {
    background-color: #f06292
}