#match-scouting {
  background-color: var(--dark-black);
}

#match-scouting .grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#match-scouting .button-grid {
  margin-top: 5.5vh;
  width: 99%;
  height: 93.5%;
  display: grid;
  grid-gap: 3vw;
  border-radius: var(--border-radius, 16px);
  padding: 0.5vmin;
}

#match-scouting .grid-button {
  border-radius: var(--border-radius, 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: max(3.2vw, 20px);
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  padding: 7px;
  box-shadow: 0 0 8px 0px var(--black);
  transition:
    0.2s border,
    0.2s box-shadow;
}

#match-scouting .grid-button:active {
  box-shadow: 0 0 12px 0px var(--bg);
  font-size: 3.3vw;
}

#match-scouting .grid-button.gray {
  background-color: #2d2d2d;
  color: #efefef;
}

.button-padding {
  padding: 5vw;
}

.silver {
  border: 3px solid var(--dark-black);
  background-color: var(--light-blue);
  color: var(--bg);
}

.green {
  background-color: #114ba8;
  color: var(--bg);
}

.orange {
  background-color: var(--bg);
  color: var(--bg);
}

.sherbert {
  background-color: #d10647;
  color: var(--bg);
}

.red {
  background-color: #d10647;
  color: var(--bg);
}

.navy {
  background-color: #3f51b5;
  color: var(--bg);
}

.pink {
  background-color: #2f1245;
  color: var(--bg);
}

.yellow {
  background-color: #1c1022;
  color: var(--bg);
}

.bluegreen {
  background-color: #0babab;
  color: var(--bg);
}

.lightbluegreen {
  background-color: #56b8b8;
  color: var(--bg);
}

.darkbluegreen {
  background-color: #077777;
  color: var(--bg);
}

.lightCoral {
  background-color: #ff69b4;
  color: var(--bg);
}
.coral {
  background-color: #ff1493;
  color: var(--bg);
}

.darkCoral {
  background-color: #c71585;
  color: var(--bg);
}

.deepBlue {
  background-color: #001f3f;
  color: var(--bg);
}

.shallowBlue {
  background-color: #73a9e5;
  color: var(--bg);
}

.border {
  border: 4px solid #37cde1;
  color: var(--bg);
}

.highlight {
  background-color: #1b0829;
  color: var(--bg);
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

#match-scouting .grid-button.highlight {
  background-color: #1b0829;
  color: var(--bg);
}
