.bar.container {
    width: 90%;
    height: 500px;
    background-color: var(--bg-alt);
    border-radius: var(--border-radius);
    border: 2px solid var(--accent-alt);
    box-sizing: content-box;
}