<div class="modal">
  <img src="icons/android-chrome-192x192.png" alt="SPOT Logo">
  <h1>Login to ICE</h1>
  <sl-input label="Passcode" type="password" id="in_login"></sl-input>
  <sl-button id="btn_login">Login</sl-button>
</div>