:root {
  --bg: #efefef;
  --text: #232323;
  --bg-alt: #fefefe;
  --accent: #30a2ff;
  --accent-alt: #ff6030;
  --error: #ff5166;
  --light-gray: #bebebe;
  --gray: #757575;
  --green: #4caf50;
  --placeholder: #a3a3a3;
  --border-radius: 16px;
  --font: Cairo, sans-serif;
}

html[data-theme="dark"] {
  --bg: #191b1c;
  --text: #efefef;
  --bg-alt: #232323;
  --accent: #4798b6;
  --reload-color: #efefef;
  --green: #75c077;
  --accent-alt: #fd6e42;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg);
  height: 100%;
  position: relative;
}

* {
  font-family: var(--font, sans-serif);
}
