<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SPOT Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Saira:wght@300;400;700&family=Tajawal:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <link href="./css/global.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="adminPanel">
      <div id="scoutersContainer"></div>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>