<!DOCTYPE html>
<html>
    <head>
        <!-- Metas -->
        <meta 
            charset="utf-8" 
        />
        <meta 
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover"
        />
        <meta 
            name="apple-mobile-web-app-capable"
            content="yes"
        />
        <meta 
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta 
            name="msapplication-TileColor"
            content="#fefefe"
        />
        <meta 
            name="msapplication-config"
            content="../../public/icons/browserconfig.xml"
        />
        <meta 
            name="theme-color"
            content="#fefefe"
        />
        <meta 
            name="msapplication-TileImage"
            content="../../public/icons/ms-icon-144x144.png"
        />

        <!-- Title -->
        <title>SPOT - Admin</title>
        
        <!-- Links -->
        <link 
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        />
        <link 
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Saira:wght@300;400;700&family=Tajawal:wght@300;400;700&display=swap"
        />
        <link 
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../public/icons/apple-touch-icon.png"
        />
        <link 
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../public/icons/favicon-32x32.png"
        />
        <link 
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../../public/icons/favicon-16x16.png"
        />
        <link 
            rel="manifest"
            href="../../public/icons/site.webmanifest"
        />
        <link 
            rel="mask-icon"
            href="../../public/icons/safari-pinned-tab.svg"
        />
        <link 
            rel="shortcut-icon"
            href="../../public/icons/favicon.ico"
        />
        <link 
            rel="stylesheet"
            type="text/css"
            href="../public/css/style.css"
        />
        <link 
            rel="stylesheet"
            type="text/css"
            href="../public/css/ui-elements.css"
        />
        <link 
            rel="stylesheet"
            type="text/css"
            href="../public/css/global.css"
        />
        <link 
            rel="stylesheet"
            type="text/css"
            href="../public/css/internal.css"
        />

    </head>
    <body>
        <img 
            id="spinner"
            src="../../public/img/spinner.svg"
        />

        <div id="menu">
            <div id="menu-icon-container">
                <i 
                    id="menu-icon"
                    class="fas fa-angle-double-down"
                />
            </div>

            <a id="config" href="/setup">
                <i class="fas fa-cog"/>

                <div>Edit Config</div>
            </a>

            <a id="export-csv" href="/analysis/api/csv">
                <i class="fas fa-cog"/>

                <div>Export Data</div>
            </a>

            <a id="qr-code" href="/qrscanner">
                <i class="fas fa-qrcode"/>

                <div>Scan QR Code</div>
            </a>

            <a id="edit-data" href="/edit">
                <i class="fas fa-edit"/>

                <div>Edit Data</div>
            </a>
        </div>

        <div id="admin-panel">
            <div id="scouters">
                <div id="scouter-list"></div>

                <input 
                    type="button"
                    id="start-scouting"
                    value="Assign Scouters"
                />

                <div class="title">Scouters</div>
            </div>

            <div id="matches">
                <div class="title">Matches</div>

                <div id="match-list"></div>
            </div>
        </div>

        <script src="../public/js/ui-elements.js"></script>
        <script src="../public/js/script.js"></script>
    </body>
</html>