<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover'>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title>SPOT - Analysis</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Saira:wght@300;400;700&family=Tajawal:wght@300;400;700&display=swap"
		rel="stylesheet">
	<link href="./css/global.css" rel="stylesheet" type="text/css" />
	<link href="./css/internal.css" rel="stylesheet" type="text/css" />
	<link href="./modules.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="./css/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
	<link rel="manifest" href="./icons/site.webmanifest">
	<link rel="mask-icon" href="./icons/safari-pinned-tab.svg" color="#30a2ff">
	<link rel="shortcut icon" href="./icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#fefefe">
	<meta name="msapplication-config" content="./icons/browserconfig.xml">
	<meta name="theme-color" content="#fefefe">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="./icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<div id="loading-bar-container">
		<div id="loading-bar"></div>
	</div>

	<img id="spinner" src="./img/spinner.svg">


	<div id="app">
		<div id="logo">
			<img src="./img/logo.png" id="logo-img">
			<div id="logo-text">SPOT</div>
		</div>

		<div id="sidebar">
			<button id="match-view-switch">Simulate Match</button>
			<div id="search-container">
				<div id="search">
					<input placeholder="Search Teams" id="search-input" required />
					<i id="search-icon" class="fa fa-search"></i>
				</div>
			</div>

			<div id="team-list">

			</div>
		</div>

		

		<div id="dashboard">
			<div id="welcome" class="visible">
				<div id="welcome-text">SPOT Analysis</div>
				<div id="welcome-subtext">Select a Team</div>
			</div>
			<div id="team-view">
				<div id="main-list">

				</div>

				<div id="side-list">

				</div>
			</div>

			<div id="match-view">
				<div id="select-teams-text">Select Teams</div>
				<div id="match-select-container">
					<div id="match-select-label">Match</div>
					<select id="match-select" class="select">
						<option selected value="none">None</option>
					</select>
				</div>
				<div id="team-selects">
					<div id="left-alliance-selects" class="alliance-selects">
						<select class="select">
							<option selected value="none">None</option>
						</select class="select">
						<select class="select">
							<option selected value="none">None</option>
						</select>
						<select class="select">
							<option selected value="none">None</option>
						</select>
					</div>
					<div id="alliance-vs">vs</div>
					<div id="right-alliance-selects" class="alliance-selects">
						<select class="select">
							<option selected value="none">None</option>
						</select>
						<select class="select">
							<option selected value="none">None</option>
						</select>
						<select class="select">
							<option selected value="none">None</option>
						</select>
					</div>
				</div>

				<div id="alliance-module-container">
					<div id="left-alliance-modules" class="alliance-modules hidden">

					</div>

					<div id="right-alliance-modules" class="alliance-modules hidden">

					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/simple-statistics@7.8.0/dist/simple-statistics.min.js"></script>
	<script src="./js/util.js"></script>
	<script src="./js/ui.js"></script>
	<script src="./js/elements.js"></script>
	<script src="https://rawgit.com/farzher/fuzzysort/master/fuzzysort.js"></script>
	<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
	<script src="./modules.js"></script>
	<script src="./js/script.js"></script>	

</body>

</html>