<link rel="stylesheet" href="/css/errors.css">

<div class="error">
    <center><span class="title">Match Error</span></center>
    <p>"There are no matches in your event. If this problem persists, please alert the scouting admins."</p>

    <button class="ok">OK</button>
</div>

<script src="/js/errors.js"></script>
