<link rel="stylesheet" href="/css/errors.css">

<div class="errors">
    <div style="text-align: center;"><span class="title">Match Error</span></div>
    <br>
    <p>There are currently no matches in your event. If this problem persists, please alert the scouting admins.</p>

    <button class="ok">OK</button>
</div>

<script src="/js/errors.js"></script>
