<link rel="stylesheet" href="/css/form.css">

<div class="form">
    <span class="title">Match Error</span>
    <span class="body">There are no matches in your event. If this problem persists, please alert the scouting admins</span>
    <button class="ok">OK</button>
</div>

<script src="/js/errors.js"></script>
