<link rel="stylesheet" href="/css/errors.css">

<div class="error">
    <span class="title">Match Error<br>There are no matches in your event. If this problem persists, please alert the scouting admins</span>

    <button class="ok">OK</button>
</div>

<script src="/js/errors.js"></script>
