<link rel="stylesheet" href="/css/form.css">

<div class="form">
    <span class="title">Match Error</span>
    <div>
        <label class="label">
            <span>There are no matches in your event. If this problem persists, please alert the scouting admins</span>
        </label>
    </div>
    <button class="ok">OK</button>
</div>

<script src="/js/errors.js"></script>
