<link id="landing-style" rel="stylesheet" href="/css/form.css" />

<div class="form">
  <span class="title">Scouting Info</span>
  <div>
    <label class="label">
      <input type="text" class="input first-name" required />
      <span>First Name</span>
    </label>
  </div>
  <div>
    <label class="label">
      <input type="text" class="input last-name" required />
      <span>Last Name</span>
    </label>
  </div>
  <div>
    <label class="label">
      <select type="number" class="input match-number" required onchange="updateSelectMenu()">
        <option disabled selected>Put in a match number</option>
      </select>
      <span>Match Number</span>
    </label>
  </div>
  <div>
    <label class="label">
      <select type="text" class="input robot-number" required>
        <option disabled selected>Put in a team number</option>
      </select>
      <span>Robot #</span>
    </label>
  </div>
  <button class="save">Save</button>
</div>

<script src="/js/form.js"></script>
<script src="/js/settingsmenu.js"></script>
