<link rel="stylesheet" href="/css/form.css" />

<div class="form">
  <span class="title">Scouting Info</span>
  <div>
    <label class="label">
      <input type="text" class="input first-name" required />
      <span>First Name</span>
    </label>
  </div>
  <div>
    <label class="label">
      <input type="text" class="input last-name" required />
      <span>Last Name</span>
    </label>
  </div>
  <div>
    <label class="label">
      <input type="number" class="input match-number" required />
      <span>Match Number</span>
    </label>
  </div>
  <div>
    <label class="label">
      <input type="text" class="input robot-number" required />
      <span>Robot #</span>
    </label>
  </div>
  <button class="save">Save</button>
</div>

<script src="/js/form.js"></script>
