<link rel="stylesheet" href="/css/instructions.css">

<div class="instructions">
    <div style="text-align: center;"><span class="title">How to use Devil Scouting</span></div>
    <p>Click "Start Match" to start the match and begin scouting(Note: Your team number will appear next to the clock once you start the match.)<br>
        Press "Cancel" to go back to the home page (Note: once you start scouting you can not go back to the home page
        until you finish or undo starting the match.)<br>
        Pressing certain buttons will bring up a birds eye view of the field. When this happens click or tap where the action occurred on the field.
        (Note: Some buttons will be highlighted in green for around one second after being pressed. During this time, pressing the button again will do the action in the same place again.
        for example, if your team picked up two cargo, you would press the ground pickup button twice, the first time you
        would pick where they picked up the cargo, the second time the button would be highlighted in green and pressing
        it would simply set the location of the pickup to the same spot as the first pickup.)
    </p>
    <button class="ok">OK</button>
</div>

<script src="/js/instructions.js"></script>
