<link rel="stylesheet" href="/css/landing.css">


<div class="spinner-container visible">
    <div class="spinner-body">
        <div class="spinner">
            <div></div>
        </div>
    </div>
</div>

<div class="auth landing-screen">
    <img class="logo" src="/img/logo.png">
    <span class="sign-in-text">Devil Scouting</span>
    <div class="auth-buttons">


        <!--  <div class="google active">
                    <i class="fab fa-google"></i>
                    <span>Sign in with Google</span>
                </div> -->


        <div class="manual active">
            <i class="fas fa-pen-square"></i>
            <span>Start Scouting</span>
        </div>
        <br><br>
        <div class="admin active">
            <i class="fas fa-shield-alt"></i>
            <span>Admin</span>
        </div>
        <div class="analysis active">
            <i class="fas fa-chart-bar"></i>
            <span>Analysis</span>
        </div>
        <div class="info active">
            <i class="fas fa-info-circle"></i>
            <span>Instructions</span>
        </div>

    </div>


    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="/js/landing.js"></script>

</div>
<div class="versionString">Devil Scouting v4.0.4</div>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="/js/landing.js"></script>
