<link id="pagestyle" rel="stylesheet" href="/css/landing.css" />
<link id="internal" rel="stylesheet" href="/css/internal.css" />

<body>
  <div class="spinner-container visible">
    <div class="spinner-body">
      <div class="spinner">
        <div></div>
      </div>
    </div>
  </div>

  <div class="auth landing-screen">
    <img class="logo" src="/img/logo.svg" />
    <div class="menu-out">
      <img
        class="menu-button"
        src="/icons/menu-button.svg"
        alt="Menu"
        onclick="toggleSettingsMenu()"
      />
    </div>
    <span class="sign-in-text">SPOT</span>
    <span class="demo-label">DEMO</span>
    <div class="auth-buttons">
      <div class="google active">
        <i class="fab fa-google"></i>
        <span>Sign in with Google</span>
      </div>
      <div class="manual active">
        <i class="fas fa-pen-square"></i>
        <span>Sign in Manually</span>
      </div>
      <div class="feedback active" onclick="toggleFeedbackMenu()">
        <i class="fas fa-comment-dots"></i>
        <span>Give Feedback</span>
      </div>
    </div>
  </div>

  <div id="settingsOverlay" class="settings-overlay" style="display: none">
    <div id="settingsMenu" class="settings-menu">
      <div class="button-outside">
        <button id="darkModeOn" class="buttonz" onclick="toggleDarkMode()">
          Enable Dark Mode
        </button>
      </div>
      <div class="button-outside">
        <button class="buttonz" onclick="goToAnalysis()">Go To Analysis</button>
      </div>

      <div class="button-outside">
        <button class="buttonz" onclick="goToAdmin()">Go To Admin</button>
      </div>
    </div>
  </div>

  <div id="feedbackOverlay" class="settings-overlay" style="display: none">
    <div id="feedbackMenu" class="settings-menu">
      <div class="button-outside">
        <p class="feedback-text">
          We appreciate your feedback!</p>
          <button
            class="buttonz"
            onclick="
              window.open(
                'https://github.com/HuskieRobotics/SPOT/issues',
                '_blank',
              )
            "
          >
            Create GitHub Issue
          </button>
        </p>
      </div>
      <div class="button-outside">
        <button
          class="buttonz"
          onclick="
            window.open(
              'https://mail.google.com/mail/?view=cm&fs=1&to=spot@team3061.org',
              '_blank',
            )
          "
        >
          Email Feedback
        </button>
      </div>
    </div>
  </div>

  <div id="v-string" class="versionString">2026 v5.2.0</div>

  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="/js/landing.js"></script>
</body>
