<link id="pagestyle" rel="stylesheet" href="/css/landing.css" />
<link id="internal" rel="stylesheet" href="/css/internal.css" />

<body>
  <div class="spinner-container visible">
    <div class="spinner-body">
      <div class="spinner">
        <div></div>
      </div>
    </div>
  </div>

  <div class="auth landing-screen">
    <img class="logo" src="/img/logo.png" />
    <div class="menu-out">
      <img
        class="menu-button"
        src="/icons/menu-button.png"
        alt="Menu"
        onclick="toggleSettingsMenu()"
      />
    </div>
    <span class="sign-in-text">SPOT</span>
    <span class="demo-label">DEMO</span>
    <div class="auth-buttons">
      <div class="google active">
        <i class="fab fa-google"></i>
        <span>Sign in with Google</span>
      </div>
      <div class="manual active">
        <i class="fas fa-pen-square"></i>
        <span>Sign in Manually</span>
      </div>
    </div>
  </div>

  <div id="settingsOverlay" class="settings-overlay" style="display: none">
    <div id="settingsMenu" class="settings-menu">
      <div class="button-outside">
        <button id="darkModeOn" class="buttonz" onclick="toggleDarkMode()">
          Enable Dark Mode
        </button>
      </div>
      <div class="button-outside">
        <button class="buttonz" onclick="goToAnalysis()">Go To Analysis</button>
      </div>

      <div class="button-outside">
        <button class="buttonz" onclick="goToAdmin()">Go To Admin</button>
      </div>
    </div>
  </div>

  <div style="background-color: #efefef" id="v-string" class="versionString">
    2026 v5.0.0
  </div>

  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="/js/landing.js"></script>
</body>
