<link href="/css/match-scouting.css" rel="stylesheet" type="text/css" />

<div class="grid-container">
    <div class="button-grid">
    </div> 
</div>

<script src="/js/match-scouting.js"></script>
<script src="/executables.js"></script>