<link href="/css/match-scouting.css" rel="stylesheet" type="text/css" />

<div class="grid-container">
  <div class="button-grid"></div>
</div>
<!-- thye qr code would have to be attached to a state in the grid
so there might need to be a new button grid state created for the qr code
also would the qr code show on the scouter end or the admin end and if it's the couter where is the qr code stored
also would would be the thing that triggers that state to reach its end -->

<script src="/js/match-scouting.js"></script>
<script src="/executables.js"></script>
