<link rel="stylesheet" href="/css/max-scouters.css">

<div class="max-scouters">
    <div style="text-align: center;"><span class="title">Max Scouters Reached</span></div>
    <p>The maximum number of scouters for this match has been reached. If this continues to be a problem, or you are supposed to scout this match, please alert the scouting admins.</p>
    <button class="ok">OK</button>
</div>

<script src="/js/max-scouters.js"></script>
