<link rel="stylesheet" href="/css/form.css">

<div class="form">
    <span class="title">Max Scouters Reached</span>
        <span class="body">The maximum number of scouters for this match has been reached. If this continues to be a problem, or you are supposed to scout this match, please alert the scouting admins</span>

    <button class="cancel">OK</button>
</div>

<script src="/js/form.js"></script>
