<link rel="stylesheet" href="/css/errors.css">

<div class="error">
    <span class="title">Max Scouters Reached</span>
    <div>
        <label class="label">
            <span>The maximum number of scouters for this match has been reached. If this continues to be a problem, or you are supposed to scout this match, please alert the scouting admins</span>
        </label>
    </div>
    <button class="ok">OK</button>
</div>

<script src="/js/errors.js"></script>
