<link href="/css/waiting.css" rel="stylesheet" type="text/css" />

<div class="title">Waiting for A Match...</div>
<div class="animation">
    <img class="gear" src="/img/gear.svg">
</div>
<div class="hint">
    <span class='hint-text'></span>
    <span class='hint-text'></span>
</div>

<script src="/js/waiting.js"></script>