<link href="/css/waiting.css" rel="stylesheet" type="text/css" />

<div class="title">Waiting to be assigned...</div>

<img class="gear" src="/img/gear.svg" />
<div class="hint">
  <span class="hint-text"></span>
  <span class="hint-text"></span>
</div>

<script src="/js/waiting.js"></script>
