<link href="/css/waiting.css" rel="stylesheet" type="text/css"/>

<div class="title">Waiting To be Assigned a Match...<br><br>Hold Tight, You'll be Assigned a Team by The Scouting Admins
    Soon :)
</div>
<img class="gear" src="/img/gear.svg">
<button class="info">Instructions</button>
<button class="cancel">Cancel</button>

<div class="hint">
    <span class='hint-text'></span>
    <span class='hint-text'></span>
</div>

<script src="/js/waiting.js"></script>