body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 30px 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow-y: hidden;
}

body > div {
  border: 1px #333 solid;
  background: #222;
}

.statbar {
  grid-area: 3 / 1 / 4 / 3;
  background: #151515;
  display: flex;
  justify-content: flex-end;
}

.statbar > div {
  font-size: 15px;
  background: #1b1b1b;
  border-left: 1px #333 solid;
  padding: 0 5px;
  cursor: pointer;
}

.statbar > div:hover {
  background: #333;
  border-bottom: #18bc9c solid 2px;
}

.statbar > div#save {
  transition: background-color ease-out 0.5s;
}

.statbar > div#save.unsaved {
  background: #e00;
}

.sidebar {
  grid-area: 1 / 1 / 2 / 2;
  background: #151515;
  height: calc(100vh - 52px);
  overflow-y: auto;
  scrollbar-width: thin;
}
.editor {
  grid-area: 1 / 2 / 3 / 3;
  height: calc(100vh - 22px);
}
.manager {
  grid-area: 2 / 1 / 3 / 2;
  background: #151515;
  display: flex;
}

.grid-stack-item-content:hover {
  filter: brightness(1.1);
}
.grid-stack-item-content:active {
  filter: brightness(0.7);
}

.details::part(header) {
  padding: 2px;
}

.details::part(content) {
  padding: 2px;
}

#in_button_create {
  width: max-content;
}

#ace {
  height: calc(100vh - 22px);
  margin-bottom: 2px #333 solid;
}

#ace_exe {
  height: 300px;
  width: 100%;
}

sl-tree {
  overflow-x: hidden;
}