.line.container {
  width: 95% !important;
  background-color: var(--bg-alt);
  border-radius: var(--border-radius);
  border: 2px solid var(--accent-alt);
  box-sizing: content-box;
  margin: auto;
}
